<ion-header [translucent]="true">
    <!-- <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
    <div id="app_content" class="container-fluid no-padding" style="overflow: hidden;height: 100vh; color: white; background-color: white;">
    </div>
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>